<% if (success.length || error.length || warning.length || info.length) { %>

<!-- <div class="toast-container">
	<% if (success && success.length) { %>
	<div
		role="alert"
		aria-live="assertive"
		aria-atomic="true"
		class="toast fade show rounded-3 border border-5 border-success border-top-0 border-end-0 border-bottom-0"
		data-autohide="false"
		data-bs-autohide="false"
	>
		<div class="toast-header bg-success bg-opacity-25">
			<strong class="me-auto my-auto text-success h5"
				><i class="bi bi-check-circle-fill me-2"></i>Success</strong
			>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="toast"
				aria-label="Close"
			></button>
		</div>
		<div class="toast-body"><%= success %></div>
	</div>
	<% } %> <% if (error && error.length) { %>
	<div
		role="alert"
		aria-live="assertive"
		aria-atomic="true"
		class="toast fade show rounded-3 border border-5 border-danger border-top-0 border-end-0 border-bottom-0"
		data-autohide="false"
		data-bs-autohide="false"
	>
		<div class="toast-header bg-danger bg-opacity-25">
			<strong class="me-auto my-auto text-danger h5"
				><i class="bi bi bi-x-circle-fill me-2"></i>Error</strong
			>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="toast"
				aria-label="Close"
			></button>
		</div>
		<div class="toast-body"><%= error %></div>
	</div>
	<% } %> <% if (warning && warning.length) { %>
	<div
		role="alert"
		aria-live="assertive"
		aria-atomic="true"
		class="toast fade show rounded-3 border border-5 border-warning border-top-0 border-end-0 border-bottom-0"
		data-autohide="false"
		data-bs-autohide="false"
	>
		<div class="toast-header bg-warning bg-opacity-25">
			<strong class="me-auto my-auto text-warning h5"
				><i class="bi bi bi-exclamation-circle-fill me-2"></i>Warning !</strong
			>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="toast"
				aria-label="Close"
			></button>
		</div>
		<div class="toast-body"><%= warning %></div>
	</div>
	<% } %> <% if (info && info.length) { %>
	<div
		role="alert"
		aria-live="assertive"
		aria-atomic="true"
		class="toast fade show rounded-3 border border-5 border-info border-top-0 border-end-0 border-bottom-0"
		data-autohide="false"
		data-bs-autohide="false"
	>
		<div class="toast-header bg-info bg-opacity-25">
			<strong class="me-auto my-auto text-info h5"
				><i class="bi bi bi-info-circle-fill me-2"></i>Information</strong
			>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="toast"
				aria-label="Close"
			></button>
		</div>
		<div class="toast-body"><%= info %></div>
	</div>
	<% } %>
</div> -->

<div class="toast-container">
<% if (success && success.length) { %>
<article class="card success">
	<header>
	  <h3>Success</h3>
	  <label class="toast-close close">&times;</label>
	</header>
	<p><%= success %></p>
  </article>
<% } %>
<% if (error && error.length) { %>
	<article class="card error">
		<header>
		  <h3>Error</h3>
		  <label class="toast-close close">&times;</label>
		</header>
		<p><%= error %></p>
	  </article>
<% } %>
<% if (warning && warning.length) { %>
	<article class="card warning">
		<header>
		  <h3>Warning</h3>
		  <label class="toast-close close">&times;</label>
		</header>
		<p><%= warning %></p>
	  </article>
	<% } %>
	<% if (info && info.length) { %>
		<article class="card info">
			<header>
			  <h3>Info</h3>
			  <label class="toast-close close">&times;</label>
			</header>
			<p><%= info %></p>
		  </article>
		<% } %>
<% } %>
</div>
